1> What are data structures, and why are they important ?
 Ans : Data structures are specialized formats for organizing, storing, and accessing collections of data. They provide efficient ways to manage information based on its characteristics and intended use. Think of them as containers that hold your data and determine how you can interact with it. Different containers are better suited for different types of items. Choosing the right data structure significantly impacts the efficiency and performance of your program. Well-chosen data structures can: Simplify data manipulation (adding, removing, modifying elements) Optimize searching and sorting operations Conserve memory usage
2> Explain the difference between mutable and immutable data types with examples ?
Ans: Mutable :Mutable data types are objects whose values can be changed after they are created. This means you can modify the internal state of the object without creating a new one. Ex- int, float, complex
Immutable :Immutable data types are objects whose values cannot be changed after they are created. Any operation that appears to modify an immutable object actually creates a new object with the modified value. Ex-Lists
3> What are the main difference between lists and tuples in Python ?
Ans:-Lists: Lists are typically used when you need a collection of items that can be modified over time. They are suitable for scenarios where you need to add, remove, or update elements frequently. Tuples: Tuples are often used when you want to represent a fixed collection of items that should not be changed. They are commonly used for data that needs to remain constant, such as coordinates, database records, or function arguments.
Lists: Lists support a wider range of operations, including methods for adding, removing, and modifying elements like append(), insert(), remove(), pop(), etc. Tuples: Tuples have limited operations compared to lists. They mainly support operations for accessing elements and checking membership.
4> Describe how dictionaries store data ?
Ans:-Dictionaries in Python store data as key-value pairs. Each element in a dictionary consists of a key and its associated value.
Key: The key is a unique identifier used to access the corresponding value. Keys must be immutable objects like strings, numbers, or tuples. Value: The value can be any Python object, including numbers, strings, lists, tuples, or even other dictionaries.
5> Why might you use a set instead of a list in Python ?
Ans:- Removing duplicates from a collection of items. Storing a collection of unique items, such as user IDs or product names. Performing mathematical set operations, such as finding the common elements between two lists. Checking if an element is present in a collection quickly (membership testing).
6> What is a String in Python and how is it different from a List?
Ans;-              String                                                           List
Data Type
Sequence of characters
Ordered collection of items
Mutability
Immutable
Mutable
Syntax
Enclosed in single or double quotes ('...' or "...")
Enclosed in square brackets ([...])
Operations
String manipulation methods (e.g., concatenation, slicing)
List manipulation methods (e.g., append, insert, remove)
Purpose
Representing text or textual data
Storing and managing collections of items

7> How do tuples ensure data integrity in Python ?
Ans:- Immutability: The Cornerstone of Data Integrity
The primary way tuples ensure data integrity is through their immutability. Once you create a tuple, you cannot modify its elements—you can't add, remove, or change individual items.
8> What is a Hash table , and how does it relate to dictionaries in Python ?
Ans:- A hash table is a data structure that stores data in key-value pairs, enabling efficient data retrieval. It works based on the concept of hashing, where a unique index (hash value) is calculated for each key. This index determines the location in the table where the corresponding value is stored.
Hash Function: A hash function takes a key as input and generates a hash value (index).
Collision Handling: If two keys produce the same hash value, a collision occurs. Hash tables employ techniques to handle collisions, such as chaining (storing colliding values in a linked list) or open addressing (finding an alternative slot).
Retrieval: To retrieve a value, the hash function is applied to the key to calculate its index, allowing quick access to the associated value.
9 . Can lists contain different data type in Python ?
Ans :- Yes, lists in Python can contain elements of different data types. This is one of the flexible features of Python lists.
my_list = [10, "hello", 3.14, True, [1, 2, 3]]
In this list:
10 is an integer.
"hello" is a string.
3.14 is a float.
True is a boolean.
[1, 2, 3] is another list (nested list).
10. Explain why strings are immutable in Python ?
Ans - The immutability of strings in Python offers benefits related to performance, security, thread safety, code predictability, and debugging. While it might seem restrictive at times, it ultimately contributes to making Python code more robust, efficient, and easier to maintain.
11. What advantages do dictionaries offer over lists for certain tasks ?


Ans > Dictionaries excel in scenarios where you need fast key-based access to data, structured data representation, uniqueness of keys, data modeling, and efficient membership testing. While lists are versatile for general-purpose collections, dictionaries offer advantages for specific tasks where their strengths align with the data and operations involved.


12. Describe a scenario where using a tuple would be preferable over a list ?
Ans :- When dealing with data that should remain constant and protected from changes, using a tuple is preferable over a list. Tuples offer data integrity, security, potential performance benefits, and semantic clarity for representing immutable information.


13. How do set handle duplicate values in Python?
Ans ;- Sets in Python inherently handle duplicate values by automatically discarding them, ensuring that only unique elements are stored. This property makes sets a valuable tool for managing data where uniqueness is essential.


14 . How does the “in” keyword work differently for lists and dictionaries ?
Ans >  The ‘in’ keyword performs a membership test, but the underlying mechanism and efficiency differ between lists and dictionaries. Lists require a linear search, while dictionaries utilize a hash table for fast key lookups. This makes dictionaries significantly more efficient for checking the presence of keys, especially in large datasets.


15. Can you modify the elements of a tuple ? Explain why or why not .
Ans:- The immutability of tuples in Python is a fundamental characteristic that provides benefits related to data integrity, performance, hashing, and security. While it might seem restrictive at times, it ultimately contributes to making Python code more robust, efficient, and easier to maintain.


16. What is a nested dictionary, and give an example of its use case ?
Ans> A nested dictionary is simply a dictionary where the values are themselves dictionaries. This creates a hierarchical structure, allowing you to organize and represent complex data relationships.
nested_dict = {
    "person1": {"name": "Alice", "age": 30, "city": "New York"},
    "person2": {"name": "Bob", "age": 25, "city": "London"},
    "person3": {"name": "Charlie", "age": 35, "city": "Paris"}
}
17. Describe the time complexity of accessing elements in a dictionary ?
Ans ;  Accessing elements in a dictionary using their keys is typically a very fast operation with an average time complexity of O(1). While worst-case scenarios can degrade performance to O(n), they are relatively uncommon with well-designed hash functions and automatic resizing mechanisms.


18. In what situation are lists preferred over dictionaries ?
Ans : While dictionaries excel in scenarios where key-based access, structured data representation, and uniqueness are essential, lists are preferred when order preservation, duplicate elements, positional indexing, homogeneous data, or sequence-specific operations are important considerations.


19. Why are dictionaries considered unordered, and how does that affect data retrieval ?
Ans : Dictionaries are considered unordered due to their hash table implementation. However, this lack of guaranteed order has minimal practical impact on data retrieval as dictionaries are primarily designed for key-based access. While iteration order is not predictable in older Python versions, newer versions (3.7+) preserve insertion order. The focus of dictionaries remains on providing efficient key-value mapping rather than maintaining a specific element sequence.


20. Explain the difference between a list and dictionary in term of data retrieval ?


Ans : lists are efficient for retrieving elements based on their position in the sequence, while dictionaries excel at retrieving elements based on their associated keys

In [ ]:
# Write a code to create a string with you name and print it.

name1 = "Sidhartha Shankr Senapati"
if name1 == name:
    print(name1)

Sidhartha Shankr Senapati

In [ ]:
# Write a code to find the length of the String "Hello World".
s = "Hello World"
len(s)

11

In [ ]:
# Write a cose to slice the first 3 Character from the String "Python Programming"

a = "Python Programming"
a[:3]

'Pyt'

In [ ]:
# Write a code to convert the string "hello" to uppercase.
a = 'hello'
a.upper()

'HELLO'

In [20]:
# Write a code to replace the word "apple" with "orange" in the string "i like apple".

list ="i like apple"
list.replace("apple","orange")

'i like orange'

In [ ]:
# Write a code to create a list with numbers 1 to 5 and print it.
my_list = [i for i in range(1, 6)]
print(my_list)

[1, 2, 3, 4, 5]

In [ ]:
# Write a code  to append the number 10 to the list [1,2,3,4]
my_list = [1,2,3,4]
my_list.append(10)
print(my_list)

[1, 2, 3, 4, 10]

In [ ]:
# Write a code to remove the number 3 from the list [1,2,3,4,5]
my_list = [1,2,3,4,5]
my_list.remove(3)
print(my_list)

[1, 2, 4, 5]
[1, 2, 4, 5]

In [19]:
# Write a code to access the second element in the list ['a','b','c','d']
my_list = ['a','b','c','d']
my_list[1]

'b'

In [7]:
# Write a code to reverse the list [10,20,30,40,50]
my_list = [10,20,30,40,50]
my_list.reverse()
print(my_list)

[50, 40, 30, 20, 10]

In [10]:
# Write a code to create a tuple with thr elements 100,200,300 and print it.
tup = (100,200,300)
type(tup)
print(tup)

(100, 200, 300)

In [12]:
# Write a code to access the second-to-last element of the tuple("red","green","blue","yellow")
tup = ("red","green","blue","yellow")
tup[-2]

'blue'

In [18]:
# Write a code to find the minimun number in the tuple (10,20,5,15)
my_tuple = (10, 20, 5, 15)
min(my_tuple)

5

In [21]:
# Write a code to find the index of the element "cat" in the tuple("dog","cat","rabbit")
my_tuple = ("dog","cat","rabbit")
my_tuple.index("cat")

1

In [23]:
# Write a code to create a tuple containing three different fruits and check if
# "kiwi" is in it
fruits_tuple = ("apple", "banana", "orange")
if "kiwi" in fruits_tuple:
    print("Kiwi is in the tuple.")
else:
    print("Kiwi is not in the tuple.")

Kiwi is not in the tuple.

In [25]:
# Write a code to create a set with the element "a","b","c" and print it
my_set = {"a", "b", "c"}
print(my_set)

{'c', 'a', 'b'}

In [27]:
# Write a code to clear all element from the set {1,2,3,4,5}
my_set = {1, 2, 3, 4, 5}
my_set.clear()
print(my_set)

set()

In [28]:
# Write a code to remove the element 4 from the set {1,2,3,4}
my_set = {1, 2, 3, 4}
my_set.remove(4)
print(my_set)

{1, 2, 3}

In [30]:
# Write a code to find the Union of two set {1,2,3} and {3,4,5}
set1 = {1, 2, 3}
set2 = {3, 4, 5}
union_set = set1.union(set2)
print(union_set)

{1, 2, 3, 4, 5}

In [31]:
# Write a code to find the intersection of two set {1,2,3} and {2,3,4}
set1 = {1, 2, 3}
set2 = {2, 3, 4}
intersection_set = set1.intersection(set2)
print(intersection_set)

{2, 3}

In [32]:
# Write a code to create a dictionary with the keys "name","age", and "city", and print it
my_dict = {
    "name": "Sidhartha",
    "age": 28,
    "city": "Kendrapara"
}
print(my_dict)

{'name': 'Sidhartha', 'age': 28, 'city': 'Kendrapara'}

In [34]:
# Write a code to add a new key-value pair "country":"USA" to the dictionary {"name":"John","age":25}
my_dict = {"name": "John", "age": 25}
my_dict["country"] = "USA"
print(my_dict)

{'name': 'John', 'age': 25, 'country': 'USA'}

In [35]:
# Write a code to access the value associated with the key "name" in the sictionary {"name":"Alice","age":30}
my_dict = {"name": "Alice", "age": 30}
print(my_dict["name"])

Alice

In [36]:
# Write a code to remove the key "age" from the dictionary{"name":"Bob","age":22,"city":"New york"}
my_dict = {"name": "Bob", "age": 22, "city": "New York"}
del my_dict["age"]
print(my_dict)

{'name': 'Bob', 'city': 'New York'}

In [38]:
# Write a code to create a list, a tuple, and a dictionary, and print them all
my_list = [1, 2, 3, 4, 5]
my_tuple = (10, 20, 30, 40, 50)
my_dict = {"name": "Bob", "age": 22, "city": "New York"}
print("List:", my_list)
print("Tuple:", my_tuple)
print("Dictionary:", my_dict)

List: [1, 2, 3, 4, 5]
Tuple: (10, 20, 30, 40, 50)
Dictionary: {'name': 'Bob', 'age': 22, 'city': 'New York'}

In [41]:
# Write a code to check if the key "city" exists in the dictionary {"name":"Alice","city":"Paris"}
my_dict = {"name": "Alice", "city": "Paris"}
if "city" in my_dict:
    print("The key city exists in the dictionary.")
else:
    print("The key city does not exist in the dictionary.")

The key city exists in the dictionary.

In [42]:
# Write a code to create a list of 5 random number between 1 to 100, sort it in ascending order,and print the result
import random
random_numbers = [random.randint(1, 100) for _ in range(5)] #randint function from the random module to generate a random integer between 1 and 100.
random_numbers.sort()
print("Sorted List:", random_numbers)

Sorted List: [11, 58, 66, 73, 76]

In [44]:
# Write a code to create a list with strings and print the element at the third index
my_list = ["apple", "banana", "pappaya", "orange", "grapes"]
print(my_list[2])

pappaya

In [45]:
# Write a code to combine two dictionaries into one and print the result
dict1 = {"a": 1, "b": 2}
dict2 = {"c": 3, "d": 4}
combined_dict = {**dict1, **dict2}
print(combined_dict)

{'a': 1, 'b': 2, 'c': 3, 'd': 4}

In [46]:
# Write a code to convert a list of strings into a set
my_list = ["apple", "banana", "pappaya", "orange", "grapes"]
my_set = set(my_list)
print(my_set)

{'apple', 'orange', 'grapes', 'banana', 'pappaya'}